@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
    margin: 0;
}

header{
    background-image: url('/styles/img/car-bg.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    color: white;
    min-height: 100vh;
}


nav{
    width: 1000px;
    margin: 0 auto;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    .logo{
        font-size: 2rem;

        span{
            text-transform: capitalize;
            margin-left: .5rem;
        }
        
    }

    ul{
        list-style: none;
        display: flex;
        text-transform: capitalize;


        li{

            a{
                padding: 1rem;
                text-decoration: none;
                color: white;
            }
        }
    }

    .burger{
        display: none;
    }
}

.container{
    width: 1000px;
    margin: auto;
    font-size: 1.5rem;


    h1{
        text-transform: capitalize;
        color: #00c2ff;
        margin-bottom: 2rem;
    }

    p{
        margin-bottom: 1.8rem;
        font-size: 1.2rem;
    }
}


.highlight {
    background-color: #00c2ff;
    color: white;
    padding: 1rem;
    text-decoration: none;
    text-transform: capitalize;
}


footer{
    background-color: #000;
    color: white;
    padding: 2rem;
    
    ul{
        display: flex;
        justify-content: space-around;
        align-items: center;

        li{
            list-style: none;

            p{
                margin-top: .6rem;
            }

            span{
                color: #00c2ff;
                text-transform: capitalize;
            }
        }
    }
}





@media screen and (max-width: 700px) {


    nav{
        width: 100vw;

        .logo{
            font-size: 1.7rem;
        }

        ul {
            flex-direction: column;
            display: none;

            li:not(:last-child) {
                margin-bottom: 1rem;
            }

            .highlight{
                display: none;
            }
        }

        .burger{
            display: block;
            font-size: 1.5rem;
        }
    } 

    .container{
        width: 100vw;
        font-size: 1rem;
        margin: auto ;
        text-align: center;
    }
    

    footer ul {
        flex-direction: column;
        justify-content: center;
    }

    footer li {
        margin: 1rem;
        text-align: center;
    }
}


@media screen and (max-width: 999px) {

    nav{
        width: 100vw;

        ul{
            overflow: hidden;

            .highlight{
                display: none;
            }
        }
    }


    .container{
        width: 100vw;
        text-align: center;
    }


}